header {
  box-shadow: 0 0 7px 0 rgba(0,0,0,.16);

  .header-container {
    height: 230px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .cart-items-count {
    font-size: 12px;
    color: white;
    padding-left: 5px; 
  }

  .logo {
    margin-bottom: 20px;
  }

  .content {
    margin: 0 auto;
  }

  .opacity {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
  }

  .title {
    text-align: center;
    margin: 0 auto;
    &-pre {
      font-family: 'Grand Hotel', cursive;
      color: map-get($theme-colors, "info");
      margin: 0;
    }

    &-container {
      text-align: center;
    }

    &-header pre {
      color: white;
      font-weight: bold;
    }
  }

  .toolbar {
    width: 100%;
    height: 13%;
    border-bottom: 1px solid rgba(56, 55, 55, 0.5);
  }

  .header-context {
    height: 87%;
  }

  .shopping-cart {
    color: map-get($theme-colors, "info");
  }

  .search {
    &-bar {
      width: 100%;
      height: 50px;
      border-top: 2px solid map-get($theme-colors, "orange");
      background-color: map-get($theme-colors, "dark");
    }

    &-container {
      margin: 0 auto;
    }

    &-box {
      width: 100% !important;
      height: 34px;
    }
  }

  .form-inline {
    width: 250px;
  }
}
